{% extends 'base.html' %}
{% load blog_filters %}

{% block title %}{{ post.title }} | MiblogFinal{% endblock %}

{% block content %}
<article class="post-detail">
    <h1>{{ post.title }}</h1>
    <p class="muted">
        Por {{ post.author_profile|default:post.author.username }}
        - {{ post.created_at|format_date }}
    </p>
    <p class="lead">{{ post.subtitle }}</p>
    {% if post.tags.all %}
        <p class="tags">
            {% for tag in post.tags.all %}
                <span>{{ tag.name }}</span>
            {% endfor %}
        </p>
    {% endif %}
    {% if post.image %}
        <img class="detail-image" src="{{ post.image.url }}" alt="{{ post.title }}">
    {% endif %}
    <div class="content">{{ post.content|linebreaks }}</div>

    {% if user == post.author or user.is_staff %}
        <div class="actions">
            <a class="button" href="{% url 'post_update' post.slug %}">Editar</a>
            <a class="button danger" href="{% url 'post_delete' post.slug %}">Eliminar</a>
        </div>
    {% endif %}
</article>
{% endblock %}
